# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Django
db.sqlite3

# Static files
staticfiles/

# Media files (optional)
media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store